.modal-header {
    background-color: #f96332;
    color: white;
  }

select {
    width: -webkit-fill-available;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 1px solid #ccc;
    width: 200px;
    color: #333;
    cursor: pointer;
  }

.selectStatus {
    width: -webkit-fill-available;
  }


  
  

  