<div class="bg-img">
  <div class="container "  >
    <div class="row">
      <div class="col-4"></div>
        <div class="col-4 " style=" background: linear-gradient(#c3c4c500, #ffffff00)">
          <img src="../../assets/img/logo2.png" class="navbar-brand-img" alt="...">
        </div>
        <div class="col-4"></div>
    </div>
    <div class="row">
  <div class="login-box">

    <h2>Reset password </h2>
    <form role="form" [formGroup]="passwordchange" (ngSubmit)="reset()">
      <div class="form-group-sm">
        <div class="input-group input-group-alternative mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" [ngClass]="{'input-false':password.touched  && password.errors,
                'input-true':password.touched && password.valid }">
                        <i class="ni ni-lock-circle-open"></i></span>
            </div>
            <input [ngClass]="{'input-false':password.touched   && password.errors,
            'input-true':password.touched && password.valid }" class="form-control text-dark" formControlName="password" placeholder="Nouveau mot de passe"[type]="type_input ? 'text' : 'password'">
            <div class="input-group-append ">
            <span class="input-group-text" [ngClass]="{'input-false':password.touched   && password.errors,
            'input-true':password.touched && password.valid }">
              <i [ngClass]="{
                'fa-eye-slash': !type_input,
                'fa-eye': type_input
              }"  (click)="changeInput()" class="fa fa-eye-slash icon-pass "></i>
            </span></div>
        </div>
    </div>
    <div class="form-group-sm">
        <div class="input-group input-group-alternative mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" [ngClass]="{'input-false':conpassword.touched  && conpassword.errors,
                'input-true':conpassword.touched && conpassword.valid }">
                        <i class="ni ni-lock-circle-open"></i></span>
            </div>
            <input [ngClass]="{'input-false':conpassword.touched   && conpassword.errors,
            'input-true':conpassword.touched && conpassword.valid }" class="form-control form-control-alternative text-darker" formControlName="passwordConfirmer" placeholder="Confirmer le mot de passe" [type]="type_input2 ? 'text' : 'password'">
            <div class="input-group-append ">
            <span class="input-group-text" [ngClass]="{'input-false':conpassword.touched   && conpassword.errors,
            'input-true':conpassword.touched && conpassword.valid }">
              <i [ngClass]="{
                'fa-eye-slash': !type_input2,
                'fa-eye': type_input2
              }"  (click)="changeInput2()" class="fa fa-eye-slash icon-pass "></i>
            </span></div>
        </div>
    </div>
    <div class="text-center">
        <button type="submit" [disabled]="passwordchange.invalid" class="btn btn-primary mt-4"> <i class="ni ni-badge">     </i> Envoyer</button>
    </div>

      <!--
      <a  type="submit"  (click)="getData()">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Se connecter
      </a>-->
    </form>
  </div>
  </div>
  </div>
  </div>
