<div class="bg-img">
  <div class="container "  >
    <div class="row">
      <div class="col-4"></div>
        <div class="col-4 " style=" background: linear-gradient(#c3c4c500, #ffffff00)">
          <img src="../../assets/img/logo2.png" class="navbar-brand-img" alt="...">
        </div>
        <div class="col-4"></div>
    </div>
    <div class="row">
  <div class="login-box">

    <h2>Reset password </h2>
    <form role="form" [formGroup]="passwordchange" (ngSubmit)="reset()">
              <!--
              <div class="form-group-sm">
                <div class="input-group input-group-alternative mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" [ngClass]="{'input-false':password.touched  && password.errors,
                        'input-true':password.touched && password.valid }">
                                <i class="ni ni-lock-circle-open"></i></span>
                    </div>
                    <input [ngClass]="{'input-false':password.touched   && password.errors,
                    'input-true':password.touched && password.valid }" class="form-control text-dark" formControlName="password" placeholder="Nouveau mot de passe"[type]="type_input ? 'text' : 'password'">
                    <div class="input-group-append ">
                    <span class="input-group-text" [ngClass]="{'input-false':password.touched   && password.errors,
                    'input-true':password.touched && password.valid }">
                      <i [ngClass]="{
                        'fa-eye-slash': !type_input,
                        'fa-eye': type_input
                      }"  (click)="changeInput()" class="fa fa-eye-slash icon-pass "></i>
                    </span></div>
                </div>
            </div>
        -->
    <div class="user-box">
      <input formControlName="password" [type]="type_input ? 'text' : 'password'" [ngClass]="{'input-f':(password.touched ||password.errors)  && password.errors,
      'input-true':conpassword.touched && password.valid }">
      <label>New Password </label>
    <!--  <span class="sp" *ngIf="showsp">An email has been sent to the address you provided with instructions for resetting your password. Please check your email and follow the instructions provided.</span>
      <span class="sp2" *ngIf="showsp2">Sorry this mail doesn't match any account, please verify your emaill.</span>-->

  </div>

      <div class="user-box">
        <input formControlName="passwordConfirmer"  [type]="type_input2 ? 'text' : 'password'" [ngClass]="{'input-f':(conpassword.touched ||conpassword.errors)  && conpassword.errors,
        'input-true':conpassword.touched && conpassword.valid }"><span class="ii" (click)="changeInput2()"> show password </span> <span>
          <i [ngClass]="{
            'fa-eye-slash': !type_input2,
            'fa-eye': type_input2
          }"  (click)="changeInput2()" class="fa fa-eye-slash icon-pass ii"></i>
        </span>
        <label>Confirm Password</label>
       <br><span class="sp" *ngIf="showsp">Your password has been changed</span>
       <!--  <span class="sp2" *ngIf="showsp2">Sorry this mail doesn't match any account, please verify your emaill.</span>-->
       <br> <span class="sp2" *ngIf="passwordchange.invalid">** Password must be greater than 8 characters</span>
    </div>

    <div class="text-center">
        <button type="submit" [disabled]="passwordchange.invalid" class="btn btn-primary mt-4"> <i class="ni ni-badge">     </i> Change password</button>
    </div>


    </form>
  </div>
  </div>
  </div>
  </div>
