
.btn-neutral.pt {
  padding: 1px;
  font-size: 20px;
  color: gray;
}
.btn-neutral.c {
  color: gray;
}
.btn-primary.m {
  background-color: #000000bf;
  font-size: 1rem;
}

.modal-bottom-right {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 0;

}

.modal-content.m {
  width: 500px;
  height: 600px;
  margin: auto;
}
.modal-content {
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  background-color: white;
}

.modal-header {
  background-color: #f96332;
  color: white;
}
.modal-header1 {
  background-color: #141414;
  color: white;
 height: 40px;
}

.modal-title {
  font-size: 1rem;
  padding: 10px
}

.modal-body.m {
  padding: 20px;
  height: 480px;
}
.wide-textarea {
  max-height:600px
}

.form-control:focus {
  border-color: #f96332;
  box-shadow: none;
}

.btn-primary {
  background-color: #f96332;
  border-color: #f96332;
  font-size: 1.2rem;
}


.btn-primary:hover {
  background-color: #f96332;
  border-color: #f96332;
}
.badge {
  color:white
}
.b{
  width: 60px;
  height: 17px;
}

.custom-success {
  background-color: rgb(106, 212, 106);
  max-width: 300px;
}
