<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card" style="width: 1200px;">
        <div class="card-header">
          <h4 class="card-title"> List of Products</h4>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class=" text-primary">
                <th>
                  Title
                </th>
                <th>
                  Created At
                </th>
                <th>
                  Description
                </th>
                <th>
                  Quantity
                </th>
                <th>
                  Reference
                </th>
                <th>
                  Owner
                </th>
                <th>
                  Category
                </th>
                <th>
                  Status
                </th>
                <th>
                  Edit
                </th>
              </thead>
              <tbody *ngFor="let Product of products" >
              <tr  *ngIf=" Product.status == true">
                <td>
                  {{ Product.title}}
                  </td>
                <td>
                  {{ Product.createDateTime}}
                </td>
                <td>
                  {{ Product.description}}
                </td>
                <td>
                  {{ Product.quantity}}
                </td>
                <td>
                  {{ Product.reference}}
                </td>
                <td>
                  {{Product.user}}
                </td>
                <td>
                  {{Product.subCategory}}
                </td>
                <td>
                  AVAILABLE
                </td>
                <td>
                  <i class="fas fa-pencil-alt" (click)="showProductDetails(Product.idProduct)"> </i>
                </td>
                </tr>

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="card card-plain">
        <div class="card-header">
          <h4 class="card-title"> Pending Products</h4>
          <p class="category">Dangerous Products cannot be accepted</p>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class=" text-primary">
              <th>
                Title
              </th>
              <th>
                Created At
              </th>
              <th>
                Description
              </th>
              <th>
                Quantity
              </th>
              <th>
                Reference
              </th>
              <th>
                Owner
              </th>
              <th>
                Category
              </th>
              <th>
                ACCEPTED
              </th>
              <th>
                Edit
              </th>
              </thead>
              <tbody *ngFor="let Product of products" >
              <tr  *ngIf=" Product.status == false">
                  <td>
                    {{ Product.title}}
                  </td>
                  <td>
                    {{ Product.createDateTime}}
                  </td>
                  <td>
                    {{ Product.description}}
                  </td>
                  <td>
                    {{ Product.quantity}}
                  </td>
                  <td>
                    {{ Product.reference }}
                  </td>
                <td>
                  {{Product.user}}
                </td>
                <td>
                  {{Product.subCategory}}
                </td>
                  <td class="text-center">
                    -
                  </td>
                  <td>
                    <div class="button-container">
                      <button class="btn btn-success mr-2" (click)="AcceptProduct(Product)" >
                        <i class="fa fa-check"></i>
                      </button>

                      <button class="btn btn-danger" (click)="DeleteProduct(Product.idProduct)">
                        <i class="fa fa-times"></i>
                      </button>
                    </div>

                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
